
{{define "form-fields"}}

  <div class="form-group mt-3">
    <textarea name="body" id="textarea" cols="30" rows="10" class="form-control {{if .Errors.body }}is-invalid {{end}}">
      {{ .Article.Body }}
    </textarea>

    {{ with .Errors.body }}
      <div class="invalid-feedback">
        {{ . }}
      </div>
    {{ end }}
  </div>

{{ end }}