{{define "title"}}
所有文章 —— 我的技术博客
{{end}}

{{define "main"}}
<div class="col-md-9 blog-main">

  {{ range $key, $article := .Articles }}

    <div class="blog-post  bg-white p-5 rounded shadow mb-4">

      {{template "article-meta" $article }}

      <hr>
      <!-- 用marked渲染-->
      <div class="ch">{{ $article.Body }}</div>

    </div><!-- /.blog-post -->

  {{ end }}

  {{template "pagination" .PagerData }}

</div><!-- /.blog-main -->
{{end}}